div.wrap
	div.header
		h2= title
		span Instant Schulden leicht gemacht!
	div.content
		div.login
			span Name
			input.username(type='text')
			span Passwort
			input.password(type='password')
			button.login Login
			span.register registrieren
		div.app
			span.title Schuldner / Gläubiger
		